<!DOCTYPE html>
<html>
<head>
    <title>Quiz IA Platform</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'quizzes:quiz_list' %}">Quizzes</a>
        <a href="{% url 'ai_generator:generate_quiz' %}">Generate AI Quiz</a>

        {% if user.is_authenticated %}
            <span>Hello {{ user.username }}</span>
            <a href="{% url 'accounts:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'accounts:login' %}">Login</a>
            <a href="{% url 'accounts:register' %}">Register</a>
        {% endif %}
    </nav>

    <hr>

    {% block content %}
    {% endblock %}
</body>
</html>
