<!DOCTYPE html>
<html>
<head>
    <title>Quiz IA Platform</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'quizzes:quiz_list' %}">Quizzes</a>
        <a href="{% url 'ai_generator:generate_quiz' %}">Generate AI Quiz</a>

        {% if user.is_authenticated %}
            <a href="{% url 'dashboard:home' %}">Dashboard</a>
            {% if user.teacherprofile.status == 'approved' %}
                <a href="{% url 'quizzes:teacher_quiz_list' %}">Teacher Quizzes</a>
                <a href="{% url 'quizzes:teacher_ai_pending' %}">AI Validation</a>
            {% endif %}
            <a href="{% url 'attempts:my_results' %}">My Results</a>
            <span>Hello {{ user.username }}</span>
            <a href="{% url 'accounts:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'accounts:login' %}">Login</a>
            <a href="{% url 'accounts:register' %}">Register</a>
        {% endif %}
    </nav>

    <hr>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>
